.heading {
  color: var(--color-neutral-900);
  font-weight: bold;
  text-align: center;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -1px;
  font-family: 'DM-Sans', sans-serif;
  max-width: 550px;
  margin: 0 auto;

  @media (max-width: 768px) {
    font-size: 40px;
    max-width: 100%;
  }
}

.options {
  width: 100%;
  height: 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  gap: 24px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}

.leftOptions {
  display: flex;
  align-items: center;
  gap: 24px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}

.stats {
  margin-top: 48px;
}
